img{
	width: 100%;
	display: block;
}
.container{
	width: 80%;
	margin: auto;
	text-align: center;
}
.frame{
	width: 100%;
	max-width: 800px;
	position: relative;
	margin: auto;
}
#prev,
#next{
	display: flex;
	flex-direction: column; 
	justify-content: space-around;
	cursor: pointer;
	position: absolute;
	padding: 0 10px;
	height: 100%;
	top: 0;
	font-size: 3em;
	font-weight: bold;
	color: rgba(255,255,255,0.8); 
}
#prev{
	left: 0;
}
#next{
	right: 0;
}
#prev:hover{
	background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.1));
}
#next:hover{
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1));
}
.dot{
	cursor:pointer;
	background-color: #bbb;
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
}
.active{
	background-color: #028FD5;
}
.slide{
	display: none;
}
.showing{
	display: block;
}
